In [95]:
import pandas as pd
import numpy as np

In [96]:
colums_to_use=['date', 'venue', 'bat_team', 'bowl_team','runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5','total']
data=pd.read_csv("ipl_08-17.csv",usecols=colums_to_use)

In [97]:
data.head(10)

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222
5,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.5,2,0,222
6,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,3,0,0.6,3,0,222
7,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,3,0,1.1,3,0,222
8,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,7,0,1.2,7,0,222
9,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,11,0,1.3,11,0,222

# EDA

In [98]:
data.shape

(76014, 10)

In [99]:
data.describe()

,runs,wickets,overs,runs_last_5,wickets_last_5,total
count,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000,76014.000000
mean,74.889349,2.415844,9.783068,33.216434,1.120307,160.901452
std,48.823327,2.015207,5.772587,14.914174,1.053343,29.246231
min,0.000000,0.000000,0.000000,0.000000,0.000000,67.000000
25%,34.000000,1.000000,4.600000,24.000000,0.000000,142.000000
50%,70.000000,2.000000,9.600000,34.000000,1.000000,162.000000
75%,111.000000,4.000000,14.600000,43.000000,2.000000,181.000000
max,263.000000,10.000000,19.600000,113.000000,7.000000,263.000000

In [100]:
data.dtypes

date               object
venue              object
bat_team           object
bowl_team          object
runs                int64
wickets             int64
overs             float64
runs_last_5         int64
wickets_last_5      int64
total               int64
dtype: object

In [101]:
data.venue.unique(),len(data.venue.unique())

(array(['M Chinnaswamy Stadium',
        'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
        'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
        'Rajiv Gandhi International Stadium, Uppal',
        'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
        'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
        'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
        'OUTsurance Oval', 'Brabourne Stadium',
        'Sardar Patel Stadium, Motera', 'Barabati Stadium',
        'Vidarbha Cricket Association Stadium, Jamtha',
        'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
        'Holkar Cricket Stadium',
        'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
        'Subrata Roy Sahara Stadium',
        'Shaheed Veer Narayan Singh International Stadium',
        'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
        'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
        'Maharashtra Cricket Association Stadium',
        'Punjab Cricket Association IS Bindra Stadium, Mohali',
        'Saurashtra Cricket Association Stadium', 'Green Park'],
       dtype=object),
 35)

In [102]:
data.bat_team.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [103]:
data.bowl_team.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Mumbai Indians', 'Chennai Super Kings', 'Deccan Chargers',
       'Pune Warriors', 'Kochi Tuskers Kerala', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [104]:
present_teams=['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Mumbai Indians', 'Chennai Super Kings','Sunrisers Hyderabad']

In [105]:
data=data[(data['bat_team'].isin(present_teams)) & (data['bowl_team'].isin(present_teams))] #removing teams that are not playing

In [106]:
data.shape

(53811, 10)

In [107]:
len(data.bat_team.unique()),len(data.bowl_team.unique())

(8, 8)

In [108]:
data.venue.unique(),len(data.venue.unique())

(array(['M Chinnaswamy Stadium',
        'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
        'Wankhede Stadium', 'Sawai Mansingh Stadium',
        'MA Chidambaram Stadium, Chepauk', 'Eden Gardens',
        'Dr DY Patil Sports Academy', 'Newlands', "St George's Park",
        'Kingsmead', 'SuperSport Park', 'Buffalo Park',
        'New Wanderers Stadium', 'De Beers Diamond Oval',
        'OUTsurance Oval', 'Brabourne Stadium',
        'Sardar Patel Stadium, Motera',
        'Himachal Pradesh Cricket Association Stadium',
        'Subrata Roy Sahara Stadium',
        'Rajiv Gandhi International Stadium, Uppal',
        'Shaheed Veer Narayan Singh International Stadium',
        'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
        'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
        'Barabati Stadium', 'Maharashtra Cricket Association Stadium',
        'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
        'Punjab Cricket Association IS Bindra Stadium, Mohali',
        'Holkar Cricket Stadium'], dtype=object),
 31)

In [109]:
data=data[data['overs']>=5.1]
data.shape

(40088, 10)

In [110]:
data.head()

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
32,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,222
33,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,222
34,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,222
35,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,222
36,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,222

In [111]:
from datetime import datetime
data['date'] = data['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d')) #converting object to datetime variable

In [112]:
data.date

32      2008-04-18
33      2008-04-18
34      2008-04-18
35      2008-04-18
36      2008-04-18
           ...
75884   2017-05-19
75885   2017-05-19
75886   2017-05-19
75887   2017-05-19
75888   2017-05-19
Name: date, Length: 40088, dtype: datetime64[ns]

In [113]:
one_hot_data=pd.get_dummies(data,columns=['venue','bat_team','bowl_team'],drop_first=True) #one hot encoding

In [114]:
one_hot_data.columns

Index(['date', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'total', 'venue_Brabourne Stadium', 'venue_Buffalo Park',
       'venue_De Beers Diamond Oval', 'venue_Dr DY Patil Sports Academy',
       'venue_Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'venue_Dubai International Cricket Stadium', 'venue_Eden Gardens',
       'venue_Feroz Shah Kotla',
       'venue_Himachal Pradesh Cricket Association Stadium',
       'venue_Holkar Cricket Stadium',
       'venue_JSCA International Stadium Complex', 'venue_Kingsmead',
       'venue_M Chinnaswamy Stadium', 'venue_MA Chidambaram Stadium, Chepauk',
       'venue_Maharashtra Cricket Association Stadium',
       'venue_New Wanderers Stadium', 'venue_Newlands',
       'venue_OUTsurance Oval',
       'venue_Punjab Cricket Association IS Bindra Stadium, Mohali',
       'venue_Punjab Cricket Association Stadium, Mohali',
       'venue_Rajiv Gandhi International Stadium, Uppal',
       'venue_Sardar Patel Stadium, Motera', 'venue_Sawai Mansingh Stadium',
       'venue_Shaheed Veer Narayan Singh International Stadium',
       'venue_Sharjah Cricket Stadium', 'venue_Sheikh Zayed Stadium',
       'venue_St George's Park', 'venue_Subrata Roy Sahara Stadium',
       'venue_SuperSport Park', 'venue_Wankhede Stadium',
       'bat_team_Delhi Daredevils', 'bat_team_Kings XI Punjab',
       'bat_team_Kolkata Knight Riders', 'bat_team_Mumbai Indians',
       'bat_team_Rajasthan Royals', 'bat_team_Royal Challengers Bangalore',
       'bat_team_Sunrisers Hyderabad', 'bowl_team_Delhi Daredevils',
       'bowl_team_Kings XI Punjab', 'bowl_team_Kolkata Knight Riders',
       'bowl_team_Mumbai Indians', 'bowl_team_Rajasthan Royals',
       'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad'],
      dtype='object')

In [115]:
one_hot_data.head(10)

,date,runs,wickets,overs,runs_last_5,wickets_last_5,total,venue_Brabourne Stadium,venue_Buffalo Park,venue_De Beers Diamond Oval,...,bat_team_Rajasthan Royals,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
32,2008-04-18,61,0,5.1,59,0,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
33,2008-04-18,61,1,5.2,59,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34,2008-04-18,61,1,5.3,59,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
35,2008-04-18,61,1,5.4,59,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
36,2008-04-18,61,1,5.5,58,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
37,2008-04-18,61,1,5.6,58,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
38,2008-04-18,62,1,6.1,55,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
39,2008-04-18,63,1,6.2,52,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
40,2008-04-18,64,1,6.3,47,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0
41,2008-04-18,66,1,6.4,45,1,222,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [122]:
X=one_hot_data.drop('total',axis=1)
y=one_hot_data[['date','total']]
X.shape,y.shape

((40088, 50), (40088, 2))

In [123]:
X_train=X[X['date'].dt.year<=2016]
X_test=X[X['date'].dt.year>=2017]

In [124]:
X_train.shape,X_test.shape

((37310, 50), (2778, 50))

In [125]:
y_train=y[y['date'].dt.year<=2016]
y_test=y[y['date'].dt.year>=2017]
y_train.shape,y_test.shape

((37310, 2), (2778, 2))

In [126]:
y_train=y_train.drop('date',axis=1).values
y_test=y_test.drop('date',axis=1).values
X_train=X_train.drop('date',axis=1)
X_test=X_test.drop('date',axis=1)
X_train.shape,X_test.shape,y_train.shape,y_test.shape #data ready for training

((37310, 49), (2778, 49), (37310, 1), (2778, 1))

In [127]:
X_train.head(10)

,runs,wickets,overs,runs_last_5,wickets_last_5,venue_Brabourne Stadium,venue_Buffalo Park,venue_De Beers Diamond Oval,venue_Dr DY Patil Sports Academy,venue_Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium,...,bat_team_Rajasthan Royals,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
32,61,0,5.1,59,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
33,61,1,5.2,59,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34,61,1,5.3,59,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
35,61,1,5.4,59,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
36,61,1,5.5,58,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
37,61,1,5.6,58,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
38,62,1,6.1,55,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
39,63,1,6.2,52,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
40,64,1,6.3,47,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
41,66,1,6.4,45,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### Calculating r2 score of different algorithms

In [128]:
from sklearn.linear_model import LinearRegression

lin_regressor=LinearRegression()
lin_regressor.fit(X_train,y_train)

LinearRegression()

In [129]:
from sklearn.metrics import r2_score

def cal_score(y_true,y_pred):
    return r2_score(y_true,y_pred)

In [130]:
pred_lin=lin_regressor.predict(X_test)
print(f"The r2 score is {cal_score(y_test,pred_lin)}")

The r2 score is 0.740546963039211

In [131]:
from sklearn.tree import DecisionTreeRegressor

dec_regressor=DecisionTreeRegressor()
dec_regressor.fit(X_train,y_train)

DecisionTreeRegressor()

In [132]:
pred_dct=dec_regressor.predict(X_test)
print(f"The r2 score is {cal_score(y_test,pred_dct)}")

The r2 score is 0.4808426999816765

In [134]:
from sklearn.ensemble import RandomForestRegressor
rnd_regressor=RandomForestRegressor()
rnd_regressor.fit(X_train,y_train.ravel())

RandomForestRegressor()

In [135]:
pred_rnd=rnd_regressor.predict(X_test)
print(f"The r2 score is {cal_score(y_test,pred_rnd)}")

The r2 score is 0.6442954563346046

### Linear model gave better r2 score, so implemented ridge for regularization

In [153]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import RandomizedSearchCV

ridge=Ridge()
params={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40]}
ridge_regressor=RandomizedSearchCV(ridge,params,scoring='neg_root_mean_squared_error',cv=10,n_jobs=-1)
#hyperparameter optimization

In [146]:
ridge_regressor.fit(X_train,y_train)
ridge_regressor.best_params_

{'alpha': 40}

In [147]:
pred_ridge=ridge_regressor.predict(X_test)
print(f"The r2 score is {cal_score(y_test,pred_ridge)}")

The r2 score is 0.7339653095513056

### Saving the model

In [148]:
import pickle

pickle.dump(lin_regressor,open("ipl_score_predictor.pkl",'wb'))

In [151]:
model=pickle.load(open("ipl_score_predictor.pkl",'rb'))

In [178]:
check=X_test.iloc[250,:].values
check

array([121. ,   4. ,  15.4,  40. ,   1. ,   0. ,   0. ,   0. ,   0. ,
         0. ,   0. ,   0. ,   0. ,   0. ,   0. ,   0. ,   0. ,   0. ,
         0. ,   0. ,   0. ,   0. ,   0. ,   0. ,   0. ,   0. ,   0. ,
         0. ,   0. ,   0. ,   0. ,   0. ,   0. ,   0. ,   1. ,   0. ,
         0. ,   1. ,   0. ,   0. ,   0. ,   0. ,   0. ,   0. ,   0. ,
         1. ,   0. ,   0. ,   0. ])